<a routerLink = "/">Previous</a>

<h2>Add New Product</h2>

<form id="formNewProduct" name="formNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)">
   <label>Name:</label><input type="text" name="name" id="name" placeholder="Enter product Name" ngModel><br>
   <label>Price:</label><input type="text" name="price" id="price" placeholder="Enter price" ngModel><br>
   <input type="submit" value="Add Product">
</form>

<br>

<h3 *ngIf = "isAdded">{{confirmationString}}</h3>
